.font-style {
  font-size: 30px;
  /* font-weight: 500; */
  color: rgb(255, 255, 255);
  padding-top: 18px;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-style-gpa {
  font-size: 20px !important;
}
.StyledDiv {
  box-sizing: border-box;
  position: relative;
  z-index: 6;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(calc(var(--ntp-page-rows) - 1), min-content) auto;
  grid-template-columns: min-content auto min-content;
  grid-auto-flow: dense;
  padding: var(--ntp-page-padding);
  overflow: hidden;
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  /* min-height: 100vh; */
  align-items: flex-start;
  --ntp-item-row-count: 4;
  --ntp-extra-footer-rows: 1;
  --ntp-space-rows: 0;
  --ntp-page-rows: calc(var(--ntp-item-row-count) + var(--ntp-space-rows));
  --ntp-page-padding: 12px;
  --ntp-item-justify: start;
  --blur-amount: calc(var(--ntp-extra-content-effect-multiplier, 0) * 38px);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: relative;
  z-index: 6;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(calc(var(--ntp-page-rows) - 1), min-content) auto;
  grid-template-columns: min-content auto min-content;
  grid-auto-flow: dense;
  padding: var(--ntp-page-padding);
  overflow: hidden;
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  /* min-height: 100vh; */
  align-items: flex-start;
}

/* arrange the grid eleemtns*/
.section1 {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.section2 {
  grid-column: 3 / span 3;
  justify-self: center;
}
.section3 {
  grid-column: 1 / span 2;
}
.NameSection {
  display: inline-flex;
  -webkit-box-align: center;
  /* align-items: center; */
  flex-direction: row;
  height: fit-content;
  min-width: 0px;
  position: relative;
}

.NameSection-styled {
  padding: 24px 56px 24px 24px;
  max-width: 100%;
  width: initial;
  position: relative;
  transition: 0.5s ease 0s;
  border-radius: 16px;
}

.ul-name {
  --blur-amount: calc(var(--ntp-extra-content-effect-multiplier, 0) * 38px);
  background: linear-gradient(
    90deg,
    rgb(33, 37, 41) 0%,
    rgba(33, 37, 41, 0.4) 100%
  );
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  flex-wrap: wrap;
  -webkit-box-pack: var(--ntp-item-justify, start);
  justify-content: var(--ntp-item-justify, start);
  -webkit-box-align: start;
  align-items: start;
  font-weight: 400;
  margin-top: 20px;
  padding: 0px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.ul-name > li {
  list-style-type: none;
  font-size: inherit;
  font-family: inherit;
  margin: 10px 16px;
}
.designation {
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-top: 8px;
  font-family: Poppins, sans-serif;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.styledWidgetContainer {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  min-width: 0px;
  position: relative;
}
.styledWidgets {
  padding: 0px;
  max-width: 100%;
  width: initial;
  position: relative;
  transition: 0.5s ease 0s;
  border-radius: 16px;
}
.listWidgets {
  justify-self: start;
  align-items: normal;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 86px);
  -webkit-box-pack: var(--ntp-item-justify, start);
  justify-content: var(--ntp-item-justify, start);
  padding: 24px 56px 24px 24px;
}
.widgetsIcons {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 78px;
  height: 110px;
  cursor: pointer;
  gap: 8px;
}
