.myexperience {
  margin-top: 30px;
  padding-left: 20px;
}
.exp-box {
  opacity: 0.8;
  min-height: 150px;
  min-width: 120px;
  background-color: rgb(117, 128, 133) !important;
  padding: 5px;
  color: black;
  transition: transform 0.2s; /* Animation */
  border-radius: 5px;
  margin-right: 20px;
}
.exp-box:hover {
  transform: scale(1.1);
}
.exp-box-img {
  /* display: flex;
  justify-content: center; */
  padding-left: 20px;
  padding-top: 10px;
  width: 180px;
  height: 50px;
}

.exp-box-p {
  padding-top: 10px;
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .exp-box-mob {
    margin-bottom: 40px;
  }
}
