.image-container {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .image-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 820px) {
  .image-container {
    display: none;
  }
}

@media (min-width: 900px) {
  /* Adjust the breakpoint (992px) as needed */
  .aboutMeCardStyle {
    min-width: 760px; /* Adjust the minimum width as needed */
  }
}
