@keyframes hoverPop {
  0%,
  100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(0.9);
  }
}

.experience {
  /* background: linear-gradient(
    90deg,
    rgba(116, 117, 119, 0.96) 0%,
    rgba(33, 37, 41, 0.4) 100%
  ); */
  opacity: 0.8;
  background-color: rgb(117, 128, 133) !important;
  min-height: 200px;
  padding: 0px 15px 0px 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s; /* Animation */
}
.skills {
  opacity: 0.8;
  min-height: 150px;
  min-width: 120px;
  background-color: rgb(117, 128, 133) !important;
  padding: 5px;
  color: black;
  transition: transform 0.2s; /* Animation */
  border-radius: 5px;
}

.skills:hover {
  /* opacity: 1 !important;
  background-color: rgb(85, 94, 103) !important;
  transform: scale(1.1); */
  /* animation-name: hoverPop;
  animation-duration: 0.4s; */
  /* animation-fill-direction: forward; */
  transform: scale(1.1);
  opacity: 1;
}
.experience:hover {
  transform: scale(1.1);
  opacity: 1;
}
.experience > p {
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}
.experience > h3 {
  font-size: 25px;
  color: White;
  opacity: 1;
  text-align: center;
}
.background {
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      90deg,
      rgba(116, 117, 119, 0.96) 0%,
      rgba(33, 37, 41, 0.4) 100%
    )
    repeat scroll 0% 0%;
  opacity: 0.8;
  max-width: 200px;
  min-height: 150px;
}
@media only screen and (max-width: 600px) {
  .aboutMeMobile {
    margin-top: 10px;
  }
  .skills {
    opacity: 0.8;
    min-height: 150px;
    min-width: 120px;
    background-color: rgb(117, 128, 133) !important;
    padding: 5px;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .mobileIcon {
    color: white;
    font-size: 35px;
  }
}
