.overview {
    opacity: 0.8;
    min-height: 150px;
    min-width: 120px;
    background-color: rgb(117, 128, 133) !important;
    padding: 5px;
    color: black;
    transition: transform 0.2s; /* Animation */
    border-radius: 5px;
    max-height: 420px;
  }
  h6{
    padding-top: 5px;
  }